.CarouselContailer_UlOverride {
  height: 75vh;
}

@media (min-width: 768px) {
  .CarouselContailer_UlOverride {
    height: 70vh;
  }
}

@media (min-width: 1024px) {
  .react-multi-carousel-list {
    margin-bottom: 5rem;
  }
}

.react-multi-carousel-list {
  margin-bottom: 3rem;
}
